<footer class="footer pt-5 pb-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                © Company Logo Çalışmak
            </div>
        </div>
        <div class="row mt-4">
            <div class="col d-flex flex-column small font-weight-bold">
                <a href="">Hakkımızda</a>
                <a href="">Yardım Merkezi</a>
            </div>
            <div class="col d-flex flex-column font-weight-normal small">
                <a href="">Gizlilik Merkezi</a>
                <a href="">Çerezler</a>
                <a href="">Gizlilik</a>
                <a href="">Şartlar</a>
            </div>
        </div>

    </div>


</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/jquery/jquery.js"></script>
<script src="{{root}}assets/vendor/popper/popper.min.js"></script>
<script src="{{root}}assets/vendor/bootstrap5/bootstrap.min.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->