<footer class="footer pt-5 pb-5 text-center">
    <div class="container">
        <p>© <span class="credits font-weight-bold">
                <a href="https://github.com/johndavemanuel/bootstrap-gulp-starter-template" rel="noopener" target="_blank" class="text-dark">Alptekin Enes Kırdemir</a>
            </span>
        </p>
    </div>
    
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/jquery/jquery.js"></script>
<script src="{{root}}assets/vendor/popper/popper.min.js"></script>
<script src="{{root}}assets/vendor/bootstrap5/bootstrap.min.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
