<div class="container-fluid  job-list-result ">
    <div class="container">
        <div class="row">
            <div class="job-list-header pb-5 pt-5 ">
                <div class="d-flex align-items-center">
                    <div class="dropdown ">
                        <button class="btn dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-filter"></i>
                            Filtrele
                        </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item disabled" href="#">Disabled action</a>
                            <h6 class="dropdown-header">Section header</h6>
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">After divider action</a>
                        </div>
                    </div>
                    <div class="dropdown ml-md-1">
                        <button class="btn dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-history" aria-hidden="true"></i>
                            Son Aramalar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item disabled" href="#">Disabled action</a>
                            <h6 class="dropdown-header">Section header</h6>
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">After divider action</a>
                        </div>
                    </div>
                    <span class="job-list-header-result ml-md-2 text-primary font-weight-bold">

                        .net Developer Jobs (312 Jobs Found)
                    </span>
                </div>

                <a name="" id="" class="btn btn-outline-primary  rounded-pill py-3 px-4 font-weight-bold" href="#"
                    role="button">Beni Bilgilendir</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid job-list">

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 job-list-left custom-scroll">
                <div class="nav  nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net Developer</h4>
                            <p class="card-title">IBM</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">IBM</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="job-list-item">
                            <h4 class="mb-0 font-weight-bold">.net-developer</h4>
                            <p class="card-title">Quicken Loans</p>
                            <p class="card-text">İstanbul (Avrupa)</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-8 job-list-right">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="job-list-content">
                            <div class="job-list-right-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="card-title text-primary font-weight-bold">Mid. Level .Net Developer
                                    </h4>
                                    <a name="" id=""
                                        class="btn btn-outline-primary pl-4 pr-4 position-relative font-weight-bold rounded-pill"
                                        href="#" role="button">
                                        Başvur
                                    </a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="card-text font-weight-bold text-secondary mb-0">IBM - İstanbul Anadolu</p>
                                    <div class="mr-4">
                                        <a name="" id="" class="" href="#" role="button">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <a name="" id="" class="" href="#" role="button">
                                            <i class="fa fa-envelope text-primary ml-2" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="job-list-right-content">
                                <ul class="nav nav-pills nav-fill" id="#my-tab">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">Detay</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                            aria-selected="false">Aday
                                            Kriterleri</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                            data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                            aria-selected="false">İşe Alım
                                            Süreci</a>
                                    </li>
                                </ul>
                                <div class="tab-content job-list-detail" id="myTabContent">
                                    <div class="tab-pane custom-scroll fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <p>Firmamızın Ankara Kahramankazan Saraykent Sanayi Sitesi içerisinde
                                            görevlendirilmek üzere takım arkadaşları arıyoruz.</p>
                                        <h4>İş tanımı</h4>
                                        <p>Şirket içi ERP ve üretim yönetimi yazılımımızı ASP.NET teknolojilerini
                                            kullanarak
                                            sürdürmekten sorumlu bir .NET geliştiricisi arıyoruz. Öncelikli
                                            sorumluluğunuz,
                                            uygulamalarımızın bu katmanlarını tasarlamak ve geliştirmek ve altyapının
                                            farklı
                                            katmanlarında çalışan ekibin geri kalanıyla koordinasyon sağlamak olacaktır.
                                            İşbirliğine dayalı problem çözme, sofistike tasarım ve kaliteli ürün
                                            taahhüdü
                                            esastır.</p>
                                        <h4>
                                            Sorumluluklar
                                        </h4>
                                        <ul>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Ekibindeki
                                                mühendislerle beraber çalışabilecek ve onları yönlendirebilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Uluslararası projelerde çalışacak ve uluslararası standartlara göre
                                                tasarım
                                                yapabilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Proje grubu ile ilgili yazışmaları yaparak özet bilgileri üst birime
                                                aktaracak
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Alt biriminin hazırladığı projelerin kontrolünün yapılmasını sağlayacak
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Projelerin tasarım hesapları ile aynı anda uygulama resimleri için
                                                teknik
                                                ressamları koordine edebilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Ekip çalışmasına uyum sağlayabilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Mühendisliği, mühendislik firmasında yapmak isteyen
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Ekibindeki
                                                mühendislerle beraber çalışabilecek ve onları yönlendirebilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Uluslararası projelerde çalışacak ve uluslararası standartlara göre
                                                tasarım
                                                yapabilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Proje grubu ile ilgili yazışmaları yaparak özet bilgileri üst birime
                                                aktaracak
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Alt biriminin hazırladığı projelerin kontrolünün yapılmasını sağlayacak
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Projelerin tasarım hesapları ile aynı anda uygulama resimleri için
                                                teknik
                                                ressamları koordine edebilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Ekip çalışmasına uyum sağlayabilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Mühendisliği, mühendislik firmasında yapmak isteyen
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Ekibindeki
                                                mühendislerle beraber çalışabilecek ve onları yönlendirebilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Uluslararası projelerde çalışacak ve uluslararası standartlara göre
                                                tasarım
                                                yapabilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Proje grubu ile ilgili yazışmaları yaparak özet bilgileri üst birime
                                                aktaracak
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Alt biriminin hazırladığı projelerin kontrolünün yapılmasını sağlayacak
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Projelerin tasarım hesapları ile aynı anda uygulama resimleri için
                                                teknik
                                                ressamları koordine edebilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Ekip çalışmasına uyum sağlayabilecek
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                Mühendisliği, mühendislik firmasında yapmak isteyen
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        ..s.</div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel"
                                        aria-labelledby="contact-tab">
                                        .3..</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">2
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        ...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        ...</div>
                </div>
            </div>
        </div>
    </div>
</div>