<div class="container">
    <nav class="navbar navbar-expand-lg py-4 navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bolder mr-3" href="index.html">
                <img src="assets/img/neyasis-technology.png" alt="Company Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav w-100 my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link border-bottom border-white text-white ml-md-3" aria-current="page" href="#">İşveren
                            Girişi</a>
                    </li>
                    <li class="nav-item ml-md-auto">
                        <a class="nav-link" href="#">CV Yükle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Giriş Yap</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Türkçe
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">EN</a></li>
                            <li><a class="dropdown-item" href="#">RU</a></li>


                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</div>