// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    margin-top: 4rem;
    background-color: #626160;
    a{
        color: white;
       margin-bottom: .5rem;
    }
}
